:root {
    --bll-color: #f9f6ef;
    --bl-color: rgb(240, 230, 215);;
    --blm-color: #d0c6b8;
    --bm-color: #ccbda9;
    --bmd-color: #a49681;
    --bd-color: #7d6b54;
    --gll-color:#d1e6d1;
    --gl-color: #87a787;
    --glm-color: #5c775c;
    --gm-color: #4a6d4a;
    --gmd-color: #36583c;
    --gd-color: #26432b;
}

.linkNav{
    color: var(--gmd-color);
}

.linkNav:hover{
    color: var(--gmd-color);
}


.linkNav:active{
    background-color: var(--bl-color);
    color: var(--gmd-color);
}

header a{
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
}

@media all and (max-width: 500px){
    header a{
        left: 3%; 
        transform: translateX(-3%);
    }
}